@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,400&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Sacramento&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat+Alternates:ital,wght@0,400;0,700;0,800;1,300;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,400&family=Sacramento&family=Ubuntu:wght@300;400;500;700&display=swap');



:root{
  --blue: #301934;
  --dark-blue: #00008B;
  --black: #130f40;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
  font-family: 'Montserrat', 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  transition: 0.7s;
  
}

body{
  background: #fafafa;
  text-decoration: none;
  width: 100%;
}

html{
  scroll-behavior: smooth;
}

/******************************navigation******************************************/

.header{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 80%;
}
.navigation{
 font-size: 15px;
 font-family: 'Merriweather', serif;
 color: var(--black);
}

.header .navigation a{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 15px;
  color: var(--black);
  transition: .2s;
}
.header .navigation a:hover{
  color: var(--dark-blue);
  font-size: 15.01px;
}
.fas{
  color: var(--dark-blue);
}
.logo{
  font-size: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  color: var(--black);
}
.line{
  background: var(--black);
  height: 1px;
  box-shadow: var(--box-shadow);
  opacity: 0.2;
}

.button1{
  background: var(--dark-blue);
  padding: 9px;
  color: white;
  border-radius: 5px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.button1:hover{
  background: blue;
  transition: 0.3s;
}

/****************nav end************************/

/**********************************Section start*********************/

.section1{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number-text-span{
  color: rgb(221, 139, 17);
}
.number{
  display: flex;
  gap: 0 30px;
}
.number-text h1{
  text-align: left;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 1.45;
  color: var(--black);
}
.section1 .section-text .number .number-text p{
  color: var(--black);
  font-size: 12px;
  margin-bottom: -11px;
}
.section1 .section-text h2{
  text-align: left;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 1.45;
  color: var(--dark-blue);
  padding-bottom: 18px;
}

.section1 .section-text p{
  color: var(--black);
  font-size: 12px;
  line-height: 1.35;
  padding-top: 13px;
  margin-bottom: 30px;
}

.button2{
  background: var(--dark-blue);
  padding: 9px;
  color: white;
  border-radius: 5px;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}
.button3{
  background-color: white;
  border: .5px solid var(--black);
  padding: 9px;
  color: var(--dark-blue);
  border-radius: 5px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-left: 13px;
  cursor: pointer;
}

.section1 .section-text .button2:hover, .button3:hover{
  box-shadow: var(--box-shadow);
}
.section1-img{
  width: 58%;
}
.section1 img{
  width: 100%;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 180px;
  margin-top: 60px;
  height: 425px;
}

.section2{
  width: 70%;
  padding: 15px;
  margin: 60px auto;
  background: white;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2 .range h1{
  font-size: 15px;
  margin-bottom: 5px;
  color: var(--dark-blue);
}

.section2 .range p{
  font-size: 12px;
  opacity: 0.8;
}

.blue-circle{
  position: absolute;
  margin-left: 455px;
  margin-top: 435px;
  background: var(--dark-blue);
  border-radius: 100%;
  width: 55px;
  height: 55px;
  box-shadow: var(--box-shadow);
}
.section1:hover .blue-circle{
  margin-left: 0;
}
.blue-circle-icon{
  color: white;
  margin-top: 26px;
  margin-left: 14px;
  
}
/**********************************Section3*********************/

.section3-head{
  text-align: center;
  margin:60px auto 40px auto;
}
.section3-head h2{
  font-size: 25px;
  margin-bottom: 5px;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
}
.section3-head p{
  font-size: 13px;
  margin: 7px auto 2px auto;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1;
}
.section3{
  width: 80%;
  margin: 3px auto auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.section3 .section-house img{
  width: 85px;
  margin: 20px auto 16px auto;
}

.section3 .section-house{
  background: white;
  width: 31%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  border-radius: 7px;
}

.section3 .section-house h2{
  font-size: 18px;
  font-weight: bold;
  margin: 5px auto;
  color: var(--black);
}
.section3 .section-house h1{
  font-size: 50px;
  padding-top: 1px;
  position: absolute;
  transform: translateX(200px);
  z-index: -5;
  margin-bottom: 245px;
  opacity: 0;
  color: var(--dark-blue);
  transition: .6s;
}
.section3:hover .section-house h1{
  transform: translateX(0px);
  z-index: 0;
  opacity: 0.09;
}
.section3 .section-house:hover h1{
  transform: translateX(0px);
  z-index: 0;
  opacity: 0.19;
}

.section3 .section-house p{
  font-family: 'poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.35;
  opacity: 0.8;
}

.section-house2{
  box-shadow: var(--box-shadow);
}


/**********************************Section4*********************/
.Leasesection{
  margin: auto;
  width: 80%;
  text-align: left;
  display: flex;
  margin-bottom: 20px;
}


.Leasesection h2{
  font-size: 25px;
  text-align: center;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
}

.lease-nav{
  position: absolute;
  margin-left: 1025px;
  margin-top: 20px;
  font-size: 18px;
  color: var(--black);

}
.lease-nav2{
  margin-left: 15px;
}

.section4{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.sectio4-house{
  width: 23.5%;
  background: white;
  border-radius: 5px;
  margin-bottom: 20px;
}
.sectio4-house:hover{
  box-shadow: var(--box-shadow);
}

.sectio4-house img{
  width: 90%;
  margin: 15px auto;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}
.sectio4-house:hover img{
  width: 90%;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.sectio4-house:hover .fas1{
  color: var(--dark-blue);
  margin: 5px 215px 3px 0px;
}

.section4 .sectio4-house h2{
  font-size: 17px;
  margin-bottom: 5px;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
}


.section4 .sectio4-house p{
  font-size: 12px;
  margin: 8px auto 2px auto;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1;
  opacity: 0.6;
}

.section4-button{
  width: 80%;
  margin: 8px auto;
  background: var(--dark-blue);
  color: white;
  padding: 7px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  font-weight: 500;
}
.section4-button:hover{
  background: blue;
  transition: 0.3s;
}

.fas1{
  position: absolute;
  color: var(--dark-blue);
  margin: 5px 0px 3px 215px;
}


/*****************************section5****************************/

.section5{
  width: 80%;
  margin: 80px auto 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section5-img{
  width: 57%;
}
.section5-img img{
  width: 100%;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
  height: 340px;
}

.section5-text{
  width: 38%;
}

.section5 .section5-text h2{
  font-size: 27px;
  margin-bottom: 5px;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
}

.section5 .section5-text p{
  font-size: 11px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 5px;
  color: var(--black);
  font-family: 'poppins', sans-serif;
  opacity: 0.85;
}

.section5-text-child{
  display: flex;
  gap: 200px;
  margin: 15px auto;
}

.section5 .section5-text .section5-text-child1 p{
  font-size: 14px;
  line-height: 1.2;
  font-weight: 430;
  margin-bottom: 10px;
  color: var(--black);
  font-family: 'poppins', sans-serif;
}

.section5-icon{
  color: var(--dark-blue);
}

/*****************************section6****************************/

.section6-head{
  text-align: center;
  width: 80%;
  margin: auto;
}
.section6-head h2{
  font-size: 25px;
  margin-bottom: 2px;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
}

.section6-head p{
  font-size: 13px;
  margin: 7px auto 40px auto;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.8;
}

.section6-head1{
  margin: 40px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.section6-head1-house{
  width: 30%;
  background: white;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}
.section6-head1 .section6-head1-house img{
  width: 85%;
  margin: 15px auto;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}
.section6-head1 .section6-head1-house h2{
  font-size: 17px;
  margin-bottom: 5px;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
}

.section6-head1 .section6-head1-house p{
  font-size: 12px;
  margin: 8px auto 2px auto;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1;
  opacity: 0.7;
}

 .section6-head1-house2{
  box-shadow: var(--box-shadow);
}

.fasx{
  color: var(--dark-blue);
  opacity: 1;
}



/*****************************section7*****************/
.section7-head{
  text-align: center;
  width: 80%;
  margin: auto;
}

.section7-head h2{
  font-size: 25px;
  margin-bottom: 2px;
  margin-top: 60px;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
}

.section7-head p{
  font-size: 13px;
  margin: 7px auto 40px auto;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.section7{
  text-align: center;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section7-house{
  background: white;
  width: 30%;
  margin-bottom: 40px;
  text-align: left;
  border-radius: 5px;
}

.section7 .section7-house h2{
  font-size: 15px;
  color: var(--black);
  font-family: 'poppins', sans-serif;
  margin-top: 10px;
  padding: 0 20px;
  margin-bottom: 3px;
}

.section7 .section7-house h4{
  font-size: 11px;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
  padding: 0 20px;
  margin-bottom: 3px;
}

.section7 .section7-house p{
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--black);
  font-family: 'poppins', sans-serif;
  padding: 0 20px;
}

.section7-house2{
  box-shadow: var(--box-shadow);
}



.section8{
  width: 80%;
  display: flex;
  margin: 60px auto;
  justify-content: space-between;
  align-items: center;
}

.section8 .section8-img-house{
  width: 55%;
}
.section-8-img{
  display: flex;
  gap: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.section8 .section8-img-house .section-8-img img{
  width: 47% ;
  height: 170px;
  box-shadow: var(--box-shadow);
  border: 1px solid rgb(245, 244, 244);
}

.test-img1, .test-img4{
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.test-img2, .test-img3{
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}



.section8 .section8-img-house h1{
  font-size: 25px;
  margin-bottom: 2px;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
}


.section8 .section8-content-house{
  width: 40%;
}

.section8 .section8-content-house .section8-house-content .section8-house-content-data h1{
  font-size: 13px;
  margin: 7px auto 6px auto;
  font-family: 'poppins', sans-serif;
  font-weight: 410;
  line-height: 1.2;
  color: rgb(221, 139, 17);
}

.section8 .section8-content-house .section8-house-content .section8-house-content-data h2{
  font-size: 25px;
  margin-bottom: 12px;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
}

.section8 .section8-content-house .section8-house-content .section8-house-content-data p{
  font-size: 13px;
  margin: 7px auto 30px auto;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1.55;
  opacity: 0.8;
}

.section8 .section8-1-house{
  background: white;
  margin: 15px 0;
  padding: 13px;
  border: 1px solid rgb(245, 244, 244);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.section8 .section8-1-house header h3{
  font-size: 16px;
  margin-bottom: 7px;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
  cursor: pointer;
  width: 75%;
}

.section8 .section8-1-house header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -25px;
}

.section8-1-house-p{
  font-size: 12px;
  margin: 10px auto 7px auto;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1.59;
  opacity: .8;
  padding: 1.25rem 2.6rem 0 2.75rem;
  text-align: left;
  overflow: hidden;
  height: 0;
  transition: all .2s ease;
}

.section8-1-house-icon{
  padding: 13px 7px;
  background-color: #f1eeeebd;
  border-radius: 5px;
  font-size: 18px;
  color: var(--dark-blue);
  transition: .3s;
}

.section8-1-house-icon-1{
  padding: 12px 6px;
  background-color: #f1eeeebd;
  border-radius: 5px;
  font-size: 23px;
  color: var(--dark-blue);
  transition: .2s;
  font-weight: 800;
  cursor: pointer;
}

.accordion-open .section8-1-house-icon-1{
  transform: rotate(180deg);
  box-shadow: 0 2px 4px hsla(228, 66%, 45%, .1);
}

.section9{
  width: 80%;
  display: flex;
  margin: 90px auto;
  justify-content: space-between;
  align-items: center;
}

.section9-img-house{
  width: 55%;
}
.section-9-img{
  display: flex;
  gap: 15px;
  width: 100%;
  margin-bottom: 15px;
  justify-content: end;
}

.section9 .section9-img-house .section-9-img img{
  width: 47% ;
  height: 170px;
  box-shadow: var(--box-shadow);
  border: 1px solid rgb(245, 244, 244);
}

.section9-content-house{
  width: 40%;
}

.section9-house-child{
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  
}

.section9-house-children{
  margin: auto;
  width: 45%;
  background: white;
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section9 .section9-content-house h1{
  font-size: 25px;
  margin-bottom: 12px;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
}

.section9 .section9-content-house p{
  font-size: 13px;
  margin: 7px auto 30px auto;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1.55;
  opacity: 0.8;
}

.section9-button{
  width: 95%;
  
  background: var(--dark-blue);
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  font-family: 'poppins', sans-serif;
  text-align: center;
  font-weight: 500;
}

.section9-button:hover{
  background: blue;
  transition: 0.3s;
}

.section9-house-children-child{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  width: 95%;
}

.section9-1-house-icon{
  padding: 15px 7px 3px 7px;
  background-color: #f1eeeebd;
  border-radius: 5px;
  font-size: 18px;
  color: var(--dark-blue);
  transition: .3s;
  height: 30px;
}

.section9-1-house-icon:hover{
  background-color: #e6e4e9;
}

.section9-house-child-h1{
  font-size: 22px;
  margin-bottom: 2px;
  color: var(--dark-blue);
  font-family: 'poppins', sans-serif;
}

.section9-house-child-h2{
  font-size: 13px;
  margin: 0 auto 40px auto;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1.55;
  opacity: 0.8;
  cursor: copy;
}

footer{
  width: 100%;
  background: var(--dark-blue);
  color: white;
  display: flex;
}

.footer-section{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 23px auto auto auto;
  padding: 83px 0;
}
.footer-section-2{
  width: 25%;
}
.footer-section-3{
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.footer-h1{
  font-size: 17px;
  margin-bottom: 27px;
  font-family: 'poppins', sans-serif;
}

.footer-p{
  font-size: 13px;
  margin: 7px auto 25px auto;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1.55;
  opacity: 0.8;
  transition: .1s;
  cursor: pointer;
}

.footer-p:hover{
  font-weight: 410;
  opacity: 1;
}

.end-text{
  font-size: 13px;
  margin: 15px auto 15px auto;
  font-family: 'poppins', sans-serif;
  text-align: center;
  font-weight: 400;
  line-height: 1.55;
  opacity: 0.8;
  transition: .1s;
  cursor: pointer;
}

.scrollup{
  position: fixed;
  right: 1rem;
  bottom: 3.5rem;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  display: inline-flex;
  transition: .4s ease;
}

.scrollup:hover{
  transform: translateY(-.25rem);
  color: #dbd3e7;
}